extends template

block content
	main.editor
		aside.editor-controls#controls
			.resize-handle
		button.toggle-controls.hidden &gt;
		section.editor-preview
			.preview-wrapper
				canvas#preview-canvas