- const debugging = process.env.DEBUG == "true"
doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
		link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack-subset.css")
		link(rel="stylesheet" type="text/css" href=`../scss/main.scss`)
		//- link(rel="icon" type="image/png" href="../img/favicon/favicon-96x96.png" sizes="96x96")
		//- link(rel="icon" type="image/svg+xml" href="../img/favicon/favicon.svg")
		//- link(rel="shortcut icon" href="../img/favicon/favicon.ico")
		//- link(rel="apple-touch-icon" sizes="180x180" href="../img/favicon/apple-touch-icon.png")
		title WebGLitter Editor
		if (debugging)
			link(rel="stylesheet" type="text/css" href=`../scss/debug.scss`)

	body
		block content
		script(src=`../js/editor.js` type="module")
