html {
	font-size: 18px;
}

:root {
	--theme-color: #a857f2;
	--theme-color-alt: #c28fef;
}

a, a:visited {
	color: var(--theme-color);
	transition: all .3s;
}

a:hover {
	color: var(--theme-color-alt);
}

body {
	background: #0c0c0c;
	font-family: "Hack";
	color: white;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 1rem;
	overflow: hidden;
}

.editor {
	display: flex;
	height: 100vh;
	width: 100vw;

	&-controls {
		width: 300px;
		height: 100%;
		background: #1a1a1a;
		border-right: 1px solid #333;
		overflow-y: auto;
		overflow-x: hidden;
		flex-shrink: 0;

		// Tweakpane overrides to make it fill the container
		.tp-dfv {
			width: 100% !important;
			position: relative !important;
			top: auto !important;
			right: auto !important;
		}
	}

	&-preview {
		flex-grow: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		background: #222;
		overflow: hidden;
		position: relative;
		cursor: crosshair;
		background: repeating-conic-gradient(#333333 0 25%, #0000 0 50%) 50% / 34px 34px;
	}
}

#preview-canvas {
	background: #000;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	flex-shrink: 0;
	user-select: none;
}


button[class^="tp-btn"] * {
	user-select: none;
}